<h2>Tasks for the Occupied Mind</h2>
<%= link_to "Create new task", tasks_new_path('new') %>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= check_box("tag", tag.id, { checked: task.completed}) %>
    <%= link_to task.title, task_path(task.id)%> <%= link_to "Delete",
            task_path(task.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>
